<!-- The name of the product -->
<?define Name = "FIM" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Zafer Balkan" ?>
<!-- The version number of this setup package-->
<?define Version = "0.2.0" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{F63A79CE-F49E-4883-8CCA-D877B33CB981}" ?>
<!-- Source folder for the single-file executable -->
<?define SourceFolder = "..\publish\" ?>
<!-- Executable name -->
<?define Executable = "IntegrityService.exe" ?>
<!-- Service description -->
<?define Desc="A File Integrity Monitoring service that keeps track of file changes in specified folders."?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Language="1033" InstallerVersion="300">
        <!-- Create a folder inside FIM called IntegrityService -->

        <!-- Create a folder inside FIM called IntegrityService -->
        <Media Id="1" Cabinet="IntegrityService.cab" EmbedCab="yes" />
        <!-- Allow upgrades and prevent downgrades -->
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
        <!-- Define the directory structure -->

        <!-- The files inside this DirectoryRef are linked to the IntegrityService directory via INSTALLFOLDER -->
        <DirectoryRef Id="INSTALLFOLDER">
            <!-- Create a single component which is the IntegrityService.exe file -->
            <Component Id="$(var.Executable)" Guid="47E6A2D5-2AF1-4EAA-A473-9699FFC6D5CF">
                <!-- Copies the IntegrityService.exe file using the project reference preprocessor variables -->
                <File Id="$(var.Executable)" Source="$(var.SourceFolder)IntegrityService.exe" KeyPath="yes" Checksum="yes" />
                <!-- Remove all files from the INSTALLFOLDER on uninstall -->
                <RemoveFile Id="ALLFILES" Name="*.*" On="both" />
                <!-- Tell WiX to install the Service -->
                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="$(var.Name)" DisplayName="$(var.Name)" Description="$(var.Desc)" Start="auto" ErrorControl="normal" Interactive="no" Vital="yes">
                </ServiceInstall>
                <util:ServiceConfig ServiceName="$(var.Name)" FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="1" />
            </Component>
    </DirectoryRef>
    <!-- Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
        <ComponentRef Id="$(var.Executable)" />
    </Feature>

            <StandardDirectory Id="ProgramFilesFolder">
                <!-- Create a folder inside FIM called IntegrityService -->
                <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
            </StandardDirectory>
        </Package>
</Wix>